.fade-enter-active, .fade-leave-active {
    transition: opacity 1s, transform 1s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.bounce-enter-active {
    animation: bounce-in 1s;
}
.bounce-leave-active {
    animation: bounce-out 1s;
}
.bounce-move {
    transition: transform 10s;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}